<div class="pull-right">
  <button md-icon-button>
    <md-icon>search</md-icon>
  </button>
  <button md-icon-button>
    <md-icon> favorite</md-icon>
  </button>
  <button md-icon-button aria-label="Notifications">
    <md-icon>notifications</md-icon>
    <span class="notifications-label">7</span>
  </button>
  <button md-icon-button aria-label="More" [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="openDialog()">Settings</button>
    <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle Theme</button>
    <button md-menu-item>Free Hugs!</button>
    <button md-menu-item>Help</button>
    <button md-menu-item>
      <md-icon>lock_outline</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</div>
